.main-content {
  height: calc(100vh - 404px);
  display: table;
  .box {
    border-radius: 4px;
    word-break: break-word;
  }


  .small-box {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .small-flash {
    width: 940px;
    margin: 0 auto;
  }
}
