.log-in-data {
  background: white;
  padding: 11px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 4px;

  a {
    text-decoration: underline;
    font-weight: bold;
  }
}

.brand {
  clear: both;
}

.create-new-post-button {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 14px;
  line-height: 20px;
}

.switch-languages {
  clear: both;
  margin-right: 15px;
  background: white;
  margin-top: 10px;
  border-radius: 3px;
  padding: 0 5px 2px 5px;

  a {
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }
  }

}

.flag {
  display: inline-block;
  width: 16px;
  height: 11px;
  background: asset-url('flags.png') no-repeat;
}


.flag.flag-ru {
  background-position: 0 -11px;
}

.flag.flag-gb {
  background-position: -16px 0;
}

.flag.flag-fr {
  background-position: 0 0;
}