.log-in-data {
  background: white;
  padding: 11px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 4px;
}

.brand {
  clear: both;
}

.create-new-post-button {
  margin-top: 15px;
  margin-left: 15px;

  font-size: 14px;
  line-height: 20px;
}