.new-post-page {
  textarea#post_body {
    resize: vertical;
    min-height: 150px;
  }

  input[type=submit] {
    margin-right: 10px;
  }

  input[type=submit], .cancel-btn {
    width: 150px;

  }
}

.delete-post-link {
  float: left;
  clear: both;
  margin-top: 7px;
  margin-bottom: -15px;

  span.glyphicon.glyphicon-trash {
    margin-right: 4px;
  }
}