//colors
$black_50: rgba(51, 51, 51, 1);
$white: rgba(255,255,255,1);
$black: rgba(51, 51, 51, 1);
$color_mountain_mist_approx: #999999;

//fonts
$font_1: Helvetica Neue;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;
$font_5: Open Sans;

//urls
$background_url: asset-url('bg.png');

body {
  font-family: $font_5, $font_1, $font_2, $font_3, $font_4;
  background: $background_url ;
  background-size: 100%;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: $font_5, $font_1, $font_2, $font_3, $font_4;
  font-weight: 700;
  letter-spacing: 1px;
}

hr {
  max-width: 400px;
  border-color: $color_mountain_mist_approx;
}

a {
  color: $black_50;
  &:hover {
    text-decoration: none;
    color: $black_50;
  }
}

.brand {
  display: none;
}

.address-bar {
  display: none;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
}

.navbar-nav {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
}

.img-full {
  min-width: 100%;
}

.brand-before {
  text-transform: capitalize;
  margin: 15px 0;
}

.brand-name {
  text-transform: capitalize;
  margin: 0;
  font-size: 4em;
}

.tagline-divider {
  margin: 15px auto 3px;
  max-width: 250px;
  border-color: $color_mountain_mist_approx;
}

.intro-text {
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 1px;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: $color_mountain_mist_approx solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

.main-content {
  height: calc(100vh - 404px);
  display: table;

  .box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: $white;
    border-radius: 4px;
    word-break: break-word;

    .created-at-post {
      margin-top: 10px;
      color: #777;
      font-weight: 600;
    }

    .created-by-post {
      margin-top: 10px;

      span {
        font-weight: 600;
      }

      span.created-by-title-post {
        color: #777;
      }
    }
  }

  .small-box {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .small-flash {
    width: 940px;
    margin: 0 auto;
  }

  .paginate-row {
    .pagination {
      margin-top: 0;

      li > a {
        color: #333;
      }
    }

    .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
    .pagination > .active > span, .pagination > .active > span:hover,
    .pagination > .active > span:focus {
      background-color: #333;
      border-color: #333;
    }
  }
}

footer {
  background: $white;

  p {
    margin: 0;
    padding: 15px 0;
  }
}

@media screen and(min-width:768px) {

  .logo-link {
    display: block;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 30px;
    clear: both;

    .brand {
      display: inherit;
      margin: 0;
      padding: 0 0 10px;
      text-align: center;
      text-shadow: 1px 1px 2px $black_50;
      font-family: $font_5, $font_1, $font_2, $font_3, $font_4;
      font-size: 5em;
      font-weight: 700;
      line-height: normal;
      color: $white;
    }

    .address-bar {
      display: inherit;
      margin: 0;
      text-align: center;
      text-shadow: 1px 1px 2px $black_50;
      text-transform: uppercase;
      font-size: 1.25em;
      font-weight: 400;
      letter-spacing: 3px;
      color: $white;
    }
  }


  .top-divider {
    margin-top: 0;
  }

  .img-left {
    float: left;
    margin-right: 25px;
  }



  .navbar {
    border-radius: 0;
    min-height: 0;
  }

  .navbar-header {
    display: none;
  }

  .navbar-default {
    border: none;
    background: $white;
  }

  .navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 1.25em;

    > li > a {
      line-height: normal;
    }
  }

  .nav > li > a {
    padding: 35px;
  }
}

@media screen and(min-width:1200px) {
  .box:after {
    content: '';
    display: table;
    clear: both;
  }
}